@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Josefin+Sans:wght@100;200;300;400;500&display=swap');
header{
  background-image:url(../assets/marsbg.jpg);
  height:100vh;
  background-size:cover;
  background-position:center;
  position: relative;
}


header .overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
z-index: 0;
background-color:rgba(0,0,0,0.4);
}

header .content{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:2;
  width:100%;
  text-align:center;
}

.content h1,.content p{
  color:#fff;
}

header .content h1{
font-size:90px;
font-family:Josefin Sans;
font-weight:600;
}

header .content p{
  font-family: Akaya Telivigala;
  font-size:20px;
}

header .scroll-down{
  position: absolute;
  bottom:20px;
  left:50%;
  color:#fff;
  cursor: pointer;
  animation:scroll 2s linear infinite;
}

@keyframes scroll{
  0%{bottom:20px;}
  50%{bottom:10px;}
  100%{bottom:20px;}
}

.intro{
  background-image: url(../assets/why_mars.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  padding:250px 50px;
  color:#fff;
  overflow:hidden;
}

.intro .content{
  width:50%;
  float:right;
}

.intro .content h1{
  margin-bottom:30px;
  margin-left:0;
font-family:Josefin Sans;
}

.stats{
  padding:60px;
  background-color:#000;
  font-family: Josefin Sans;
}

.stats h1{
color:#fff;
margin-bottom:15px;
}

.stats table{
  border:1px solid #fff;
  width:100%;
}

.stats table td{
  border:1px solid #fff;
  color:#fff;
  padding:10px;
}

.goals{
  font-family:Josefin Sans;
  background-color:#000;
}

.goals h1{
  color:#fff;
margin-bottom:15px;
}

.goals ul{
  list-style-type:none;
}

.goals ul li{
  color:#fff;
  margin-bottom:20px;
  display:inline-block;
}