.custom-btn-nav{
    color: white;
    border: 1px solid #FF6a00 !important;
}

.custom-btn-nav{
    background-color: #FF6a00;
    border-radius: 50px;
    padding: 7px 23px;
    font-size: 17px;
}
.custom-btn-nav:hover{
    color: #FF6a00 !important;
    background-color: white !important;
    border: 1px solid #FF6a00;
    transition: .5s ease;
}

.navbar-light .navbar-brand,.navbar-light .navbar-brand:hover{
    color:#FF6a00;
    display:inline-block;
    font-size:50px;
    font-family:Josefin Sans;
}
.navbar-light{
    position: relative;
    z-index: 3;
}
.navbar-nav{
    margin-left:auto;
    padding:10px 50px;
}

.navbar-light .nav-item .nav-link{
    margin-right:15px;
}