.public-section{
    background-image:url(../assets/marsbg.jpg);
  height:100vh;
  background-size:cover;
  background-position:center;
  position: relative;
}
.welcome-pub-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}
.welcomer-p{
  color: white !important;
  font-size: 52px !important;
}
.pub-par-section{ 
  padding:0 100px;
  color: white;
  margin-top: 100px;
}
.pub-par-section p{
  color: white;
  font-size: 25px;
}
.pub-par-section p a{
  color: white !important;
}